@media screen and (min-width: 768px) and  (max-width: 1200px) { 
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .ubicacion{
        display: none;}
    .indice{
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        .index{
            width: auto;
            height: 150px;
            padding: 0px;
            margin: 0px;
        }
    }

    .imagenesbienvenidos{
        display: none;
    }
    .sobrenosotros1{
        flex-direction: column;
    }
    .carousel{
        width: 100%;    
    }
}
@media screen and (min-width: 250px) and  (max-width: 768px) { 
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .ubicacion{
        display: none;
    }

    .indice{
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items:center;
        .index{
            width: 150px;
            height: auto;
            padding: 0px;
            margin: 0px;
        }
    }

    .imagenesbienvenidos{
        display: none;
    }


    .bienvenidos{
        padding: 0% 50px;
        text-align: center;
    }
    .sobrenosotros1{
        flex-direction: column;
    }
    .carousel{
        width: 100%;    
    }
}